@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pacifico', cursive;
}

.header {
    background-color: yellow;
    padding: 2rem;
    text-align: center;
}

.container {
    margin: auto;
    max-width: 40rem;
}

#txt-input {
    border: solid black 1px;
    font-size: 1rem;
    height: 15vh;
    width: 100%;
    padding: 1rem;
    margin: 1.5rem 0rem 1.2rem 0rem ;
    font-family: inherit;
}

#btn-translate {
    font-family: inherit;
    padding: 0.3rem 1.5rem;
    font-size: medium;
    background-color: yellow;
    margin-bottom: 0.5rem;
}

#output{
    border: solid black 1px;
    height: 16vh;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0rem 0rem 0rem;
    font-family: inherit;
}

.footer {
    background-color: yellow;
    padding: 2rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    max-width: 40rem;
    text-align: center;
    margin: auto;
}